/* Jumbotron */
@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
        /* Sesuaikan faktor skala sesuai dengan tingkat zoom yang Anda inginkan */
    }
}
.jumbotron {
    width: 100%;
    max-width: 100%;
    background: url(../img/background.png);
    background-size: cover;
    height: 100vh; /* Tinggi jumbotron setara dengan tinggi viewport */
    position: relative;
    z-index: -1;
    animation: zoomOut 3s ease-in-out infinite;
    /* Setel iteration count ke "infinite" */
}

.jumbotron::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    bottom: 0;
}

.jumbotron .container {
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

.jumbotron .display-4 {
    font-weight: 200;
    font-size: 2.6em;
    margin-top: 100px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}



/* Info Panel */
.info-panel {
    background-color: white;
    padding: 30px;
    margin-top: -120px;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
}

.info-panel h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
}

.info-panel p {
    font-size: 14px;
    font-weight: lighter;
    color: #acacac;
}



/* Workingspace */
.workingspace {
    margin-top: 120px;
    text-align: center;
}

.workingspace img {
    margin-bottom: 20px;
}

.workingspace h2 {
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 200;
}

.workingspace h2 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
}


/* Testimonial */
.testimonial {
    margin-top: 130px;
}

.testimonial p {
    font-size: 1.4em;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 30px;
}

.testimonial img {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    filter: grayscale(1);
}

.testimonial .img-main {
    width: 100px;
    height: 100px;
    margin-top: -5px;
    filter: grayscale(0);
}

.testimonial .info-text h5 {
    font-size: 16px;
    font-weight: bold;
}

.testimonial .info-text p {
    font-size: 12px;
    margin-top: -5px;
    color: #acacac;
    font-style: normal;
}



/* Utility */
.tombol {
    border-radius: 40px;
    text-transform: uppercase;
}

/* RESPONSIVE */
@media (min-width: 992px) {

    .jumbotron {
        margin-top: -90px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 40px;
        margin-top: 200px;
    }


    .workingspace {
        text-align: left;
    }


    .testimonial p {
        font-size: 2em;
    }

}

body {
    margin: 0;
    background: #EEE;
    user-select: none;
    font-family: sans-serif;
}


#slider {
    position: relative;
    width: 60%;
    height: 32vw;
    margin: 40px auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
}

input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
}


input[type=radio]:nth-child(5) {
    margin-right: 0px;
}

input[type=radio]:checked {
    opacity: 1;
}




#slider label,
#slider label img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
}



/* Slider Functionality */

/* Active Slide */
#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5,
#s6:checked~#slide6 {
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
    transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide6,
#s6:checked~#slide1 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(20%, 0, -100px);
}

/* Next to Next Slide */
#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide6,
#s5:checked~#slide1,
#s6:checked~#slide2 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(40%, 0, -250px);
}

/* Next to Next to Next Slide */
#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide6,
#s4:checked~#slide1,
#s5:checked~#slide2,
#s6:checked~#slide3 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(60%, 0, -400px);
}

/* Previous to Previous Slide */
#s1:checked~#slide5,
#s2:checked~#slide6,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3,
#s6:checked~#slide4 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(-60%, 0, -400px);
}

/* Previous to Previous to Previous Slide */
#s1:checked~#slide6,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4,
#s6:checked~#slide5 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(-80%, 0, -550px);
}

/* Previous Slide */
#s1:checked~#slide6,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4,
#s6:checked~#slide5 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(-20%, 0, -100px);
}

p {
    text-align: left;
}

/* CSS untuk membuat huruf 'j' pada "Jurusan" menjadi tebal */
p strong {
    font-weight: bold;
    font-size: 20;
}

@keyframes moveUpAndFadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
        /* Posisi awal, misalnya dari bawah */
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        /* Posisi akhir, sesuai dengan posisi aslinya */
    }
}

.jumbotron h1 {
    animation: moveUpAndFadeIn 6s ease-out infinite;
    /* Sesuaikan durasi (6s), timing function, dan animasi yang berulang */
    opacity: 0;
    /* Mulai dengan elemen tersembunyi */
}

.workingspace {
    text-align: center;
    opacity: 0;
    /* Mulai dengan teks tersembunyi */
    transition: opacity 0.5s;
}

.workingspace.visible {
    opacity: 1;
    animation: moveUpAndDown 2s ease infinite alternate;
    /* Animasi gerakan berulang */
}

@keyframes moveUpAndDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
        /* Sesuaikan perubahan posisi yang diinginkan */
    }
}
