<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="style.css">
 <title>Cards</title>
</head>
<body>

<div class="main">

 <!--cards -->

<div class="card">
   <div class="image">
      <img src="ahmad.jpeg">
   </div>
   <div class="title">
   <h1>
   Achmad Rifqi</h1>
   </div>
   <div class="des">
   <p>You can Add Desccription Here...</p>
   <button class="btn-hover color-9">BUTTON</button>
   </div>
</div>

<div class="card">
   <div class="image">
      <img src="{{ asset('picture/logorpl.jpeg') }}">
   </div>
   <div class="title">
   <h1>
   Alfado Davie Luis Sheva</h1>
   </div>
   <div class="des">
   <p>You can Add Desccription Here...</p>
      <button class="btn-hover color-9">BUTTON</button>
   </div>
</div>
<!--cards -->


<div class="card">
   <div class="image">
      <img src="https://i.pinimg.com/474x/f6/aa/96/f6aa96233379fdac3ab8f95b4624e012.jpg">
   </div>
   <div class="title">
   <h1>
   Write title Here</h1>
   </div>
   <div class="des">
   <p>You can Add Desccription Here...</p>
   <button class="btn-hover color-9">BUTTON</button>
   </div>
</div>
<!--cards -->

<!--cards -->


<div class="card">
   <div class="image">
      <img src="https://i.pinimg.com/474x/f6/aa/96/f6aa96233379fdac3ab8f95b4624e012.jpg">
   </div>
   <div class="title">
   <h1>
   Write title Here</h1>
   </div>
   <div class="des">
   <p>You can Add Desccription Here...</p>
   <button class="btn-hover color-9">BUTTON</button>
   </div>
</div>
<!--cards -->


<div class="card">
   <div class="image">
      <img src="https://i.pinimg.com/474x/f6/aa/96/f6aa96233379fdac3ab8f95b4624e012.jpg">
   </div>
   <div class="title">
   <h1>
   Write title Here</h1>
   </div>
   <div class="des">
   <p>You can Add Desccription Here...</p>
   <button class="btn-hover color-9">BUTTON</button>
   </div>
</div>
<!--cards -->

<div class="card">
   <div class="image">
      <img src="https://i.pinimg.com/474x/f6/aa/96/f6aa96233379fdac3ab8f95b4624e012.jpg">
   </div>
   <div class="title">
   <h1>
   Write title Here</h1>
   </div>
   <div class="des">
   <p>You can Add Desccription Here...</p>
   <button class="btn-hover color-9">BUTTON</button>
   </div>
</div>
<!--cards -->

<div class="card">

<div class="image">
   <img src="https://i.pinimg.com/474x/f6/aa/96/f6aa96233379fdac3ab8f95b4624e012.jpg">
</div>
<div class="title">
 <h1>
Write title Here</h1>
</div>
<div class="des">
 <p>You can Add Desccription Here...</p>
 <button class="btn-hover color-9">BUTTON</button>

</div>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src="https://i.pinimg.com/474x/f6/aa/96/f6aa96233379fdac3ab8f95b4624e012.jpg">
</div>
<div class="title">
 <h1>
Write title Here</h1>
</div>
<div class="des">
 <p>You can Add Desccription Here...</p>
 <button class="btn-hover color-9">BUTTON</button>
</div>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src="https://i.pinimg.com/474x/f6/aa/96/f6aa96233379fdac3ab8f95b4624e012.jpg">
</div>
<div class="title">
 <h1>
Write title Here</h1>
</div>
<div class="des">
 <p>You can Add Desccription Here...</p>
 <button class="btn-hover color-9">Read</button>
</div>
</div>
</div>

<!-- <script src="script.js"></script> -->
</body>
</html>
